/data/ACCV_workshop/train
/data/ACCV_workshop/testa
/data/ACCV_workshop/testb
/data/ACCV_workshop/meta
/work-dirs
/work_dirs
pseudo.txt
*.pth
*.csv
*.zip
*.json
*.pkl
breakfile.log
/tmp
/demo
/final
final/
*.log

/__pycache__
*.pyc
